#results{
    width:100%;
    min-height:100vh;
    min-height:100dvh;
}
.nothing-found{
    min-height: 12.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
}
.results-list{
    padding-top:1.875rem;
}