.header.search-done{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.875rem;
    column-gap: 1.25rem;
    width:100%;
}

@media screen and (max-width: 767px){
    .header.search-done{
        flex-flow: column;
    }
    .header.search-done .logo{
        max-width: 10rem;
    }
    .header.search-done .logo img{
        width: 100%;
    }
}