.searchBar-container{
    position: relative;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    max-width: 39.375rem;
    margin: 0 auto;
}
.header.search-done .searchBar-container{
    margin: 0;
}
.searchBar-container input{
    width: 100%;
    background-color: #fff;
    border: none;
    padding: 1.25rem 6.5625rem 1.25rem 1.25rem;
    font-style: italic;
    font-weight: 400;
    font-size: 1.25rem;
    color: rgba(0,0,0,0.5);
    margin-top: 4.6875rem;
}
.header.search-done .searchBar-container input{
    margin-top: 0;
}
.searchBar-container button{
    padding: 1.0625rem 1.25rem;
    color: white;
    font-size: 1.0625rem;
    position: absolute;
    right: 0.1875rem;
    margin-top: 4.875rem;
    background: #00A496;
    border-radius: 0.125rem;
    font-weight: 700;
}
.header.search-done .searchBar-container button{
    margin-top: 0.1875rem;
}

@media screen and (max-width: 767px){
    .header.search-done .searchBar-container{
        margin-top: 1.5rem;
    }
    .header.search-done .searchBar-container input{
        padding: 0.875rem 6.5625rem 0.875rem 1.25rem;
    }
    .header.search-done .searchBar-container button{
        padding: 0.6875rem 1.25rem;
    }
}